[package]
name = "cryptnote"
version = "0.0.1"
edition = "2021"
categories = ["command-line-utilities"]
keywords = ["cli", "tui", "command-line"]
readme = "README.md"
repository = "https://github.com/walker84837/cryptnote"

[profile.dev]
debug = false

[profile.release]
strip = true
lto = true
overflow-checks = true
panic = "abort"

[dependencies]
aes-gcm = "0.10.3"
anyhow = "1.0.97"
argon2 = "0.5.3"
clap = { version = "4.5.37", features = ["derive"] }
crossterm = "0.28.1"
dirs = "6.0.0"
env_logger = "0.11.5"
log = "0.4.26"
rand = "0.8.5"
ratatui = "0.29.0"
rpassword = "7.3.1"
serde = "1.0.219"
serde_derive = "1.0.210"
tempfile = "3.20.0"
thiserror = "2.0.12"
toml = "0.8.21"
tui = "0.19.0"
uuid = { version = "1.17.0", features = ["v4", "fast-rng"] }
